<br>
<h2><mat-icon>assignment</mat-icon> Task 5 - UI/UX <mat-icon>assignment</mat-icon></h2>
<br>
<div id="myDiv">
    <p>Question:<br>
        Please go over the following design,<br>
        and provide your insights regarding the interface (no more than 4-5 points).<br>
        <a href="http://nihongo-e-na.com/archives/006/201206/large-4fe806d39a5fc.png" target="_blank">
            http://nihongo-e-na.com/archives/006/201206/large-4fe806d39a5fc.png</a>
        <br><br>
        <img src="http://nihongo-e-na.com/archives/006/201206/large-4fe806d39a5fc.png">
        <br><br>
        Answer:
    </p>
    <ol>
        <li>Internationalization - There is no option (in any other language) to change<br>
            the page's language.
        </li><br>
        <li>Accessibility - This page is not accessible to people with disabilities.<br>
                There is no special menu for changing the website's font size, brightness, <br>
                sound (reading) options, etc.
        </li><br>
        <li>GUI - Most of the info/divs/boxes are very scattered, crowded, messy and not<br>
            ordered by anything, like subjects in headlines (horizontally is best).
        </li><br>
        <li>Usability - There is too much info in the header and upper menus.<br>
        They should contain less categories and more opened sub-menus.<br>
        This page contains too much info, divs, pictures and subjects.<br>
        It is very confusing and uncomfortable for the user.
        </li><br>
        <li>There is no separation between main content, sub content and commercials.
        </li><br>
    </ol>
</div>
<br><br>
