<br>
<h2><mat-icon>assignment</mat-icon> Task 3 - Identify a piece of code <mat-icon>assignment</mat-icon></h2>
<br>
<div id="myDiv">
    <p>Question:<br>
        What is this? 
        <a href="https://pastebin.com/f7YNshwb" target="_blank">https://pastebin.com/f7YNshwb</a>
        <br><br>
    Answer:<br>
    This piece of code is an example of Less (which stands for Leaner Style Sheets).<br>
    It is a backwards-compatible language extension for CSS.<br>
    This specific code compiles to CSS and generates this result - <br>
    a div with dark pink text, light pink background and a light gray shadow:
    </p>
</div>
<br><br>
<div class="box">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
</div>

