h2{
    font-size: 33px;
    margin: 0;
}
h2:hover{
    background-color: yellow;
}
p{
    text-align: center;
    font-size: 20px;
}
#myDiv{
    padding: 5px;
    margin: auto;
    width: 50%;
    background-color: lightblue;
}
.box {
    color: #fe33ac;
    background-color: #fdcdea;
  }
.box div {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}